* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Arvo", cursive;
}

body {
  position: relative;
}

.main_container {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  display: flex;
}

.board_player_wrapper{
  margin-left: 1rem;
  margin-top: 1rem;
  width: 35rem;
  height: 35rem;
  border: 2px solid black;
  position: relative;
}

#board_container {
  
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.rows {
  width: 100%;
  height: 4rem;
  display: flex;
  /* border: 2px solid black; */
}

.cell {
  width: 4rem;
  height: 100%;
  border: 2px solid blue;
}

.snake {
  position: absolute;
  transform-origin: center bottom;
}

#solong {
  width: 3.4rem;
  top: 1rem;
  left: 1.5rem;
  transform: rotate(15deg);
  z-index: 3;
}

#long {
  width: 3.2rem;
  top: 5rem;
  left: 19rem;
  transform: rotate(38deg);
}

#medium {
  width: 10rem;
  top: 23rem;
  left: 9rem;
  transform: rotate(15deg);
}

#leftSide {
  width: 5rem;
  top: 2.5rem;
  left: 9rem;
  transform: rotate(-33deg);
  z-index: 5;
}

#medium2 {
  width: 11rem;
  top: 7rem;
  left: 23rem;
  transform: rotate(-30deg);
  z-index: 2;
}


.ladder{
    position: absolute;
    transform-origin: center bottom;
}



#big_ladder {
    width: 2.5rem;
    height: 25rem;
    top: 2rem;
    left: 26rem;
    transform: rotate(-35deg);
  }
  
  #small_ladder {
    width: 2.5rem;
    height: 11rem;
    top: 23.5rem;
    left: 12rem;
    transform: rotate(70deg);
  }
  
  #medium_ladder {
    width: 2.4rem;
    height: 13rem;
    top: 1rem;
    left: 22rem;
    transform: rotate(37deg);
  }
  
  #medium_ladder01 {
    width: 2.4rem;
    height: 13rem;
    top: 11rem;
    left: 9rem;
    transform: rotate(-35deg);
  }
  
  #small_ladder01 {
    width: 2.5rem;
    height: 9rem;
    top: 15.5rem;
    left: 33.5rem;
    transform: rotate(-30deg);
  }


/* style for dice container */

.dice_container{
  width: 50%;
  height: 100%;
}

.dice_wrapper{
  width:  50%;
  height:  30%;
  margin: auto;
  border: 2px solid gray;
}

.dice_wrapper div:nth-child(1){
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.dice_wrapper div:nth-child(2){
  
  display: flex;
  justify-content: space-between;
}

.players{
  cursor: pointer;
}

.dice_img_div{
  width: 30%;
  height: 15vh;
  border: 2px solid black;
  visibility: hidden;
}

.dice_img_div img{
  width: 100%;
  
}


#p1{
  position: absolute;
  left: 2rem;
  top : 33rem;
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  transform: translate();
  text-align: center;
  /* transition: 2s; */
}